body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    max-width: 1500px;
    margin: auto;
    padding: 20px;
}

.main-container{
    background-color: rgb(255, 255, 255);
    border-style: ridge;
    border-radius: 30px;
}

h1 {
    text-align: center;
    color: rgba(0, 128, 0, 0.722);
}

span {
    color: orange;
}

h2 {
    color: rgb(76, 212, 26);
}

h3 {
    color: orange;
}

.description {
    padding: 20px;
    /*float: left;*/
    background: linear-gradient(180deg, rgba(179, 177, 177, 0.293) 10%, rgb(255, 255, 255) 50%, rgb(179, 177, 177, 0.293) 95%);
}

#buttons {
    text-decoration: none;
    margin-right: 30px;
    margin-top: 150px;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#buttons li {
    text-decoration: none;
    float: left;
    list-style: none;
    text-align: center;
    background-color: #6ae8517b;
    margin-right: 30px;
    width: 150px;
    line-height: 60px;
    margin: 3px;
}

#buttons li a {
    text-decoration: none;
    background-color: #6ae851;
}

#buttons li:hover {
    text-decoration: none;
    background-color: #c17235;
}

#buttons li:hover a:hover {
    text-decoration: none;
    background-color: #c17235;
}

.container {
    display: flex;
}

footer {
    text-align: center;
    padding: 3px;
    color: grey;
    font-size: 20px;
}

footer a{
    text-align: center;
    padding: 3px;
    color: grey;
    font-size: 20px;
}